<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Some cool shit in rails - blog</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>

<body>

<div class = "article_container">

  <h1>Articles</h1>
  <button><%= link_to 'Home', '/' %></button>
  <button><%= link_to 'About', '/about' %></button>
  <button><%= link_to 'Articles', '/articles' %></button>
  <button><%= link_to 'Create New Article', "/articles/new" %></button>

  <% @article.each do |a| %>

    <div class = "article">
      <br/>
      <div id = "buttons">
        <button><%= link_to 'Show Article', "/articles/#{a[:id]}" %></button>
        <button><%= link_to 'Edit Article', "/articles/#{a[:id]}/edit" %></button>
      </div>
      <div id = "titledec">
      <p>title: <%= a.title %></p><br/>
      <p>description: <%= a.description %></p><br/>
      </div>
      <br/>
    </div>
  <% end %>

</div>

</body>

</html>

