<button><%= link_to 'Home', '/' %></button>
<button><%= link_to 'About', '/about' %></button>
<button><%= link_to 'Articles', '/articles' %></button>
<button><%= link_to 'Create New Article', "/articles/new" %></button>
<br/>
<h1><%= @article.title %></h1>
<h2><%= @article.description %></h2>
<div class = "profile">
  <img src = "#" alt = "profile image"/>
  <p>John Doe</p>
  <p><%= @article.created_at %></p>
</div>
<h3>Content</h3>
<p><%= @article.content %></p>
<button><%= link_to 'Edit This Article', "/articles/#{@article[:id]}/edit" %></button>